[Unit]
Description=Stationeers server on %I
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --name stationeers_%I \
              --publish 27016:27016/udp \
              --mount type=bind,source=/apps/stationeers/%I,target=/stationeers \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --stop-timeout 60 \
              hetsh/stationeers
ExecStart=/bin/docker start --attach stationeers_%I
ExecStop=/bin/docker stop stationeers_%I

[Install]
WantedBy=multi-user.target
